<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Temporal Analysis of the heart of Paris</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="nm">

  <!-- Le styles -->

  <link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="http://getbootstrap.com/examples/offcanvas/offcanvas.css" rel="stylesheet">
  <link href='loading.css'  rel="stylesheet">

  <script src="jquery.min.js"></script>
  <script src="underscore-min.js"></script>
  <script src='pace.min.js'></script>
  <script src="cooccurences.js"></script>
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="assets/js/html5shiv.js"></script>
  <![endif]-->

</head>
<body>
  <h2>
    Co-occurence of candidate patches for
    <span id='experiment_id'></span>
  </h2>

  <ul>


    <li> <b>Description:</b>
      Basic visualisation/Representation  of the adjacency list of a co-occurrence graph where:
      <ul>
        <li>Node: the top K discriminative clusters / detectors found</li>
        <li>Edge: a measure of co-occurence between 2 candidates patches(clusters)</li>
      </ul>
      for each cluster, we only display the top most 30 co-occurrent clusters
Ranking: Node/Clusters sorted by degree network centrality
          
    </li>
    <li> <b>Co-occurrence measure /shared context:   :</b>

      <ul>
        <li>
          Image:
          <a href='http://en.wikipedia.org/wiki/Jaccard_index'>Jaccard Index</a>
          i.e.  How many shared context (shared images) do the members (detections) of clusters A and B have in common / the union of all the images in which members of each cluster appeared. TODO:
          <a href='http://en.wikipedia.org/wiki/Pointwise_mutual_information'>PMI as metrics</a>
        </li>
        <li>Patch overlaps </li>
        <li>
          <b>Noise threshold</b>
          : a co-occurence/link is considered as noise and removed if the co-occurrence measure is lower than:
          <b><span id='threshold'>0.2</span></b> 
        </li>
      </ul>
    </li>
    
    
    <li>(be carefull json data file > 5Mo)</li>
  </ul>

  <div >
    <table id='clusters'></table>
  </div>

  <!-- HTML template -->
  <script  type="text/template"  id='list_cluster_template'>
      <% img_path = cluster.centroid.img_path; %>
      <tr ><td width='100' style='padding-top:10px' id='patch_<%= cluster.id %>'> 
            <b style='font-size:13px'>Candidate <%= cluster.id %> (centrality: 
              <%= cluster.nn.length %>)</b> 
            <br/><img src='../results/<%= exp %>/images/<%= img_path[0] %>/crop_<%= img_path[1] %>_<%= img_path[2] %>_<%= img_path[3] %>_<%= img_path[4] %>.jpg' width='90' height='90' /></td>
       
          <td>
         <% 
          //var i =1 and not 0 to remove the centroid
          nb_displayed_members = Math.min(300, cluster.nn.length);
         for (var i = 0; i< nb_displayed_members ; i++) {
            image = cluster.nn[i];
            img_path = image.centroid.img_path;
            if (image.score < threshold)
              continue;

         %><a href='#'><img src='../results/<%= exp %>/images/<%= img_path[0] %>/crop_<%= img_path[1] %>_<%= img_path[2] %>_<%= img_path[3] %>_<%= img_path[4] %>.jpg' width='60' height='60' style='padding:1px' title='Candidate id: <%= image.id %> score:<%= image.score %>'/><% } %></a></td>
       
    </script>
</body>
</html>