<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Temporal Analysis of the heart of Paris</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="nm">

    <!-- Le styles -->
 
  <link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/offcanvas/offcanvas.css" rel="stylesheet">


    <script src="jquery.min.js"></script>
    <script src="underscore-min.js"></script>
    <script src="visualisation.js"></script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <![endif]-->
    <style type="text/css">
      .color_3 {border: 2px solid #FF0080}
      .color_1 {border: 2px solid #D0F5A9}
      .color_0 {border: 5px solid #F78181}
      .color_3 {border: 5px solid #F7BE81}
      .color_5 {border: 5px solid #FFFF00}
     

       /* define margin as you see fit */
    </style>
  </head>
  <body>
    Clusters ordered by purity score (purity = ratio of patches from positive images in the cluster). For each cluster, the patches are ordered by dist to the centroid. nearest first.
    
    <div class='fluid-container'>
      <div id='clusters'></div>
    </div>

    <!-- HTML template -->
    <script  type="text/template"  id='cluster_template'>
      <div  class="row" style='margin-top:20px;valign:top'>
       <div class="col-md-1" style='font-size:10px;valign:top'>
            <b style='font-size:13px'>Cluster <%= cluster.id %></b>
            <br/> purity: <%= cluster.purity %>
            <br/> Centroid patch
            <br/><img src='<%= centroid.img_id %>/patch_<%= centroid.patch_id %>.jpg' width='90' height='90' />
        </div>

        <div class="col-md-11">
         <% $.each(cluster.nn, function(idx,image){
            style = "color_"+image.label;
         %><img src='../results/images/<%= image.img_id %>/patch_<%= image.patch_id %>.jpg' width='90' height='90' class='<%= style %>' title='from image:<%= image.img_id %>'/><% }) %>
        </div>
      </div> 
    </script>
  </body>
</html>