<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Discovery of visual element discriminative of a given period of time</title> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="nm">

  <!-- Le styles -->

  <link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="http://getbootstrap.com/examples/offcanvas/offcanvas.css" rel="stylesheet">

  <script src="jquery.min.js"></script>
  <script src="underscore-min.js"></script>
  <script src="visualisation.js"></script>
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="assets/js/html5shiv.js"></script>
  <![endif]-->
  <style type="text/css">
      .color_1 {border: 2px solid #FF0000}
      .color_2 {border: 2px solid #DF7401}
      .color_3 {border: 2px solid #D7DF01}
      .color_5 {border: 2px solid #80FF00}
      .color_6 {border: 2px solid #80FF00}
      .color_7 {border: 2px solid #01DFA5}
      .color_8 {border: 2px solid #01A9DB}
      .color_9 {border: 2px solid #0431B4}
      .color_10 {border: 2px solid #A901DB}
      .color_11 {border: 2px solid #FE2E9A}
      .current_period{font-size:16px;font-weight:bold;color:#000}
      .space {margin:1px;}
      .period_color_class {display:block;height:20px;width:50px;}
      td.menu {padding-right:10px;padding-left:10px;margin-left:10px;text-align:center;}
       /* define margin as you see fit */
      }
      }
    </style>
</head>
<body>
  <h1>
    <div id='experiment_id'></div>
  </h1>

  <ul>
  <li></b> list of experiments
   <table CELLSPACING="3" border='#f00'>
<tr>
<td class='menu' ><a id='period_1' href='?experiment=exp_one_vs_all_period1'>- 1800</a></td> 
<td class='menu' ><a id='period_2' href='?experiment=exp_one_vs_all_period2'>1801-1850 </a></td>
<td class='menu' ><a id='period_3' href='?experiment=exp_one_vs_all_period3'>1851-1914 </a></td>
<td class='menu' ><a id='period_5' href='?experiment=exp_one_vs_all_period5'>1915-1939</a></td>
<td class='menu' ><a id='period_6' href='?experiment=exp_one_vs_all_period6'>1940-1967</a></td>
<td class='menu' ><a id='period_7' href='?experiment=exp_one_vs_all_period7'>1968-1975</a></td>
<td class='menu' ><a id='period_8' href='?experiment=exp_one_vs_all_period8'>1976-1981</a></td>
<td class='menu' ><a id='period_9' href='?experiment=exp_one_vs_all_period9'>1982-1989</a></td>
<td class='menu' ><a id='period_10' href='?experiment=exp_one_vs_all_period10'>1990-1999</a></td>
<td class='menu' ><a id='period_11' href='?experiment=exp_one_vs_all_period11'> 2000 + </a></td>
</tr>
</tr>
<td></td>
<td></td>
<td></td>
<td><div class='period_color_class' style='background-color:#80FF00'></div></td>
<td><div class='period_color_class' style='background-color:#00FF80'></div></td>
<td><div class='period_color_class' style='background-color:#01DFA5'></div></td>
<td><div class='period_color_class' style='background-color:#01A9DB'></div></td>
<td><div class='period_color_class' style='background-color:#0431B4'></div></td>
<td><div class='period_color_class' style='background-color:#A901DB'></div></td>
<td><div class='period_color_class' style='background-color:#FE2E9A'></div></td>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td>large balcony <a href='#cluster_4310'>4310</a>,  <a href='#cluster_3475'> 3475</a>, very close each other <a href='#cluster_460'>460</a> , in glass/PVC <a href='#cluster_2124'>2124</a>, <a href='#cluster_1843'>1843 </a> or grille <a href='#cluster_1070'>1070</a>, <a href='#cluster_1646'>1646</a> 
  , </td>
<td></td>
<td>typical elements of social buildings (<a href'http://en.wikipedia.org/wiki/HLM'>HLM</a>) e.g.  small simple square windows <a href='#cluster_2816'>2816</a> <a href='#cluster_923'>923</a> , <a href='#cluster_3444'>3444</a>,<a href='#cluster_5332'>5332</a> , <a href='#cluster_5297'>5297</a>, with typical wall <a href='#cluster_346'>346</a>, <a href='#cluster_2635'>2635</a>, <a href='#cluster_4058'>4058</a> </td>
<td></td>
<td></td>
</tr>

</table>
  </li>
    <li>
      <b>Description </b> Top 5% most discriminative clusters of visual elements coming from the facade of buildings in Paris for a given time period.  Colored border of each visual element = period time. (multi-scale discovery method)
    </li>
    <li> <b>Data:</b> Google Street view images (no ground floor) + cadastre data from Paris. </li>
    <li>
      <b>List sorted by  </b>:
        <a id='sort_purity' class='btn btn-sm btn-primary' href='#'>only Purity</a> (purity score = positive elements / number of elements in the cluster)

          <a id='sort_scale' class='btn btn-sm  btn-primary' href='#'>Scale level + purity</a>
       
   
    </li>
    <li> <b>Associatin rules / co-occurence graph</b>: lots of candidates are similar or 'fire' on similar context. To cluster them we're testing several definitions of context to compute the co-occurences of their detections. 
      <ul>
      <li><a href='#' id='cooccurrence_image_link'> context  = shared image</a>.
      link = probability that they fire on the image</li>
      <li>
       <a href='#' id='cooccurrence_overlap_link'>context = shared visuel space (overlap)</a> - probability that they fire on the image and overlap</li>
       </ul>
    </li>
  </ul>

  <div  >

    <div id='scale_menu'></div>
  </div>

  <div id='clusters'></div>


  <!-- HTML template -->
  <script  type="text/template"  id='levels_template'>
     <h3>Scales of visual elements </h3>
     <p>(rought approximation of the real physical size of the discriminative visual elements)<ul>
    <% for (var i = 0; i< levels.length ; i++) { %>
   <li style='display: inline;'>
    <a href='#clusters_scale_<%= i %>'  style='width:120px'><%= levels[i] %>px (<%= (groups[levels[i]]).length %>)</a>
   </li>
   <% } %></ul></h3>
 </script>

  <script  type="text/template"  id='list_clusters_scale_template'>
    <hr/>
    <div id='clusters_scale_<%= scale_idx %>'>

    <h3> Clusters with a centroid of a size of <%= scale %>px </h3>
    <table>
    <%= visualize_list_clusters(clusters) %>
    </table>
  </script>

  <script  type="text/template"  id='list_cluster_template'>
      <tr><td width='100' id='cluster_<%=cluster.id %>'> 
            <b style='font-size:13px'>Cluster <%= cluster.id %></b>
            <br/> score: <%= cluster.purity %></td>
          <% if (cluster.centroid.img_path != undefined) {
              img_path = cluster.centroid.img_path;
           %>
          <td>
            <br/><span style='font-size:10px'>centroid-level <%= cluster.centroid.level %></span>
            <br/><img src='../results/<%= exp %>/images/<%= img_path[0] %>/crop_<%= img_path[1] %>_<%= img_path[2] %>_<%= img_path[3] %>_<%= img_path[4] %>.jpg' width='90' height='90' /></td>
          <% } %>
          <td>
         <% 
          //var i =1 and not 0 to remove the centroid
         for (var i = 0; i< cluster.nn.length ; i++) {
            image = cluster.nn[i];
            img_path = image.img_path;
            style = "color_"+image.label;
         %><img src='../results/<%= exp %>/images/<%= img_path[0] %>/crop_<%= img_path[1] %>_<%= img_path[2] %>_<%= img_path[3] %>_<%= img_path[4] %>.jpg' width='60' height='60' class='space <%= style %>' title='from image:<%= img_path[0] %>'/><% } %></td>
       
    </script>
</body>
</html>